{%extends 'Blog/base.html'%}
{%block content%}
{%load extras%}
{%load static%}
<!--{% if messages%}-->
<!--{% for message in messages%}-->
<!--<h2>-->
<!--    <div class="alert alert-{{message.tags }}">-->
<!--        {{message}}-->
<!--    </div>-->
<!--</h2>-->
<!--{%endfor%}-->
<!--{%endif%}-->

<article class="media content-section">
    <div class="my-3">
        <p>
            <legend class="border-bottom mb-1">{{post.title}}
                {%if post.author == user%}
                <a href="{% url 'update_post' post.id%}"><span class="badge badge-primary">update post</span></a>
                {%endif%}
            </legend>
            <br>
            by author <a href="{% url 'user_posts' post.author_id%}">{{post.author.username}}</a><br>
            {% if post.image %}
            <img src="{{post.image.url }}"><br>
            {%endif%}
            Posted on {{ post.date| date:"F d, Y" }}.<br>
            {{post.content|safe}}
        </p>
    </div>
</article>

<div>
    <h3>Comments ({{comments.count}})</h3>
    {% if user.is_authenticated %}
    <form action="{% url 'post_comment'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Add comment</label>
            <input type="text" name="comment" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="enter your comment here">
            <input type="hidden" name="post_id" value="{{post.id}}">
            <input type="hidden" name="parent" value="">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {%else%}
    <div>
        <h5><a href="{%url 'login'%}">login</a> to add a comment</h5>
    </div>
    {%endif%}
</div>

<div>
    {%for comment in comments%}
    <div class="row my-3">
        <div class="col-md-1 ">
            <img class="w-100 rounded" src="/static/profile_std.png" alt="--">
        </div>
        <div class="col-md-11 "><b>{{comment.user.username}}</b>
            <div class="">{{comment.comment}}</div>
        </div>
        {% if user.is_authenticated %}
                <button class="my-3 btn btn-sm btn-primary" type="button" data-toggle="collapse"
                        data-target="#ReplyBox{{comment.id}}"
                        aria-expanded="false" aria-controls="ReplyBox{{comment.id}}">
                        Reply
                </button>
                <div class="collapse" id="ReplyBox{{comment.id}}">
                    <div class="card card-body my-2">
                        <form action="{% url 'post_comment'%}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Add Reply</label>
                                <input type="text" name="comment" class="form-control"
                                       placeholder="enter your reply here">
                                <input type="hidden" name="post_id" value="{{post.id}}">
                                <input type="hidden" name="parent" value="{{comment.id}}">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
        </div>
        {%endif%}

        <div class="reply mx-0 p-3 container">
            <div class="replies my-2">
                <div class="row my-3">
                    {%for reply in replydict|get_val:comment.id%}
                    <div class="col-md-1 ">
                        <img class="w-100 rounded" src="/static/profile_std.png" alt="--">
                    </div>
                    <div class="col-md-11 mt-2">
                        <b>{{comment.user.username}}</b><br>
                        {{reply}}<br>
                        <hr color="red">
                    </div>
                    {%endfor%}
                    <hr color="red">
                </div>

            </div>
        </div>
        {%endfor%}
    </div>
{%endblock%}
