{%extends 'Blog/base.html'%}
{%block js%}
<script>
    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>
{%endblock js%}

{%block content%}
{% for post in posts%}
<div class="container ">
    <article class="media content-section">
        <div class="my-3">
            <p>
                <legend><a class="border-bottom mb-1 font-weight-bolder"
                        href="{% url 'detail_post' post.id%}">{{post.title}}</a>
                </legend>
                by <a href="{% url 'user_posts' post.author_id%}">{{post.author.username}}</a><br>
                {% if post.image %}
                <img src="{{post.image.url }}"><br>
                {%endif%}
                Posted on {{ post.date| date:"F d, Y" }}.<br>
                <p>
                    <div class="preview">
                        {{post.content|safe|truncatechars:500 }}
                    </div>
                </p>
            </p>
            <legend class="border-bottom mb-1">
                <a href="{% url 'detail_post' post.id%}"><span class="badge badge-secondary">Read More</span></a>
            </legend>
        </div>
    </article>
</div>
{%endfor%}
{%endblock%}